@model HG151515_MIS4200.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.studentfirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentfirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentlastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentlastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enrollDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enrollDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.studentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
